@font-face {
    font-family: 'gotham_htfbook';
    src: url('../../fonts/gothamhtf-book-webfont.eot');
    src: url('../../fonts/gothamhtf-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/gothamhtf-book-webfont.woff2') format('woff2'),
         url('../../fonts/gothamhtf-book-webfont.woff') format('woff'),
         url('../../fonts/gothamhtf-book-webfont.ttf') format('truetype'),
         url('../../fonts/gothamhtf-book-webfont.svg#gotham_htfbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_htfthin';
    src: url('../../fonts/gothamhtf-thin-webfont.eot');
    src: url('../../fonts/gothamhtf-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/gothamhtf-thin-webfont.woff2') format('woff2'),
         url('../../fonts/gothamhtf-thin-webfont.woff') format('woff'),
         url('../../fonts/gothamhtf-thin-webfont.ttf') format('truetype'),
         url('../../fonts/gothamhtf-thin-webfont.svg#gotham_htfthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_htfmedium';
    src: url('../../fonts/gothamhtf-medium-webfont.eot');
    src: url('../../fonts/gothamhtf-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/gothamhtf-medium-webfont.woff2') format('woff2'),
         url('../../fonts/gothamhtf-medium-webfont.woff') format('woff'),
         url('../../fonts/gothamhtf-medium-webfont.ttf') format('truetype'),
         url('../../fonts/gothamhtf-medium-webfont.svg#gotham_htfthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_htflight';
    src: url('../../fonts/gothamhtf-light-webfont.eot');
    src: url('../../fonts/gothamhtf-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/gothamhtf-light-webfont.woff2') format('woff2'),
         url('../../fonts/gothamhtf-light-webfont.woff') format('woff'),
         url('../../fonts/gothamhtf-light-webfont.ttf') format('truetype'),
         url('../../fonts/gothamhtf-light-webfont.svg#gotham_htfthin') format('svg');
    font-weight: normal;
    font-style: normal;

}