/* Variables
   ========================================================================== */


/* Colours */

$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$black-transparent: rgba(0, 0, 0, 0.5);

$green: rgba(57, 174, 157, 1);


/* Font Stacks */

$gothambook-font: 'gotham_htfbook', 'Helvetica Neue',  sans-serif;
$gothamthin-font: 'gotham_htfthin', 'Helvetica Neue',  sans-serif;
$gothammedium-font: 'gotham_htfmedium', 'Helvetica Neue',  sans-serif;
$gothamlight-font: 'gotham_htflight', 'Helvetica Neue',  sans-serif;


/* Font sizes */

$x-large: 52px;
$large: 40px;